beautifulsoup4==4.15.0
csv_diff==1.2
matplotlib==3.11.0
ndg-httpsclient==0.5.1
numpy==2.4.6
pandas==3.0.3
pyasn1==0.6.3
pyOpenSSL==26.3.0
pypdf==6.13.3
requests==2.34.2
tqdm==4.68.3
XlsxWriter==3.2.9
